@font-face { 
font-family: 'NanumGothic'; 
src: url(font/NanumFont_TTF_ALL/NanumGothicBold.ttf) format('truetype'); 
}

@font-face { 
font-family: 'Computa'; 
src: url(font/Computa/computaL.ttf) format('truetype'); 
}

@font-face { 
font-family: 'NanumBrush'; 
src: url(font/NanumFont_TTF_ALL/NanumBrush.ttf) format('truetype'); 
}

@font-face { 
font-family: 'Football'; 
src: url(font/NEXON_Football_Gothic/football.otf) format('truetype'); 
}

@font-face { 
font-family: 'Box'; 
src: url(font/blox-brk/Blox2.ttf) format('truetype'); 
}

iframe{
    margin-left: 25px;
    margin-top: 25px;
    border: Double white 6px;
    width: 700px;
    height: 650px;
    display: inline;
    float: left;
}

#schedule{
    margin: 25px;
    margin-left: 50px;
    padding: 5px;
    width: 500px;
    float: left;
    border: Groove #e0e0e0 5px;
}

.contents{
    font-family: Computa;
    font-size: 20px;
    color: black;
}

#article_title{
    text-align: center;
    font-family: Football;
    font-size: 40px;
}

.article_days{
    text-align: left;
    line-height: 40px;
    font-family: Computa;
    font-size: 25px;
}

#download{
    text-align: center;
    font-family: Computa;
    font-size: 20px;
}

#paking{
    display: inline-block;
}

#download a{
    color: #992631;
    font-size: 25px;
    font-decoration: underline;
}

.video{
    margin-left: 50px;
    width: 250px;
    height: 180px;
    display: inline;
    float: left;
}

#pack{
    width: 650px;
    display: inline;
    float: left;
}

#visited{
    color:black;
    background-color:white;
    font-family: Football;
    font-size: 20px;
}

.description strong{
    font-decoration: underline;
}

.description{
    font-family: NanumBrush;
    color: black;
    font-size:25px;
}