@font-face { 
font-family: 'NanumGothic'; 
src: url(font/NanumFont_TTF_ALL/NanumGothicBold.ttf) format('truetype'); 
}

@font-face { 
font-family: 'NanumGothicExtra'; 
src: url(font/NanumFont_TTF_ALL/NanumGothicExtraBold.ttf) format('truetype'); 
}

@font-face { 
font-family: 'NanumBrush'; 
src: url(font/NanumFont_TTF_ALL/NanumBrush.ttf) format('truetype'); 
}

@font-face { 
font-family: 'Football'; 
src: url(font/NEXON_Football_Gothic/football.otf) format('truetype'); 
}

@font-face { 
font-family: 'Box'; 
src: url(font/blox-brk/Blox2.ttf) format('truetype'); 
}

body{
    margin: 0;
}

header{
    height: 120px;
    border-bottom: solid 7px white;
    background-color: #fcfcf2;
    margin: 0;
}

header{
    margin: 0;
    padding: 15px;
    text-align: center;
    font-size: 100px;
    font-family: Football;
    color: #406060;
}

header a{
    text-decoration: none;
    color: black;
}

header strong{
    font-family: Football;
    color: white;
    background-color: red;
}

#title_image{
    width: 80px;
    height: 80px;
}

nav{
    width: 200px;
    height:100%;
    background-color: #4060c0;
    border-right: solid 7px white;
    float: left;
}

#content{
    background-color: #e0f0f0;
    width : 100%;
    height: 100%;
}

nav ul{
    list-style: none;
    text-align: center;
    padding: 30px 0 30px;
    background-color: #4060c0;
}

figure {
    display: inline-block;
    margin: 20px;
    border-left: solid #e0f0f0 2px;
}

nav ul li a{
    text-decoration:none
}

nav ul li a:hover{
    text-decoration:underline;
    color: white;
}

nav ul li a:visited{
    color: white;
}

#article1 ol a{
    text-decoration: none;
    color: black;
}

#article1 ol a:hover{
    color: #46469C;
    background-color: white;
}

#article2 ol a{
    text-decoration: none;
    color: black;
}

#article2 ol a:hover{
    color: #D15A76;
    background-color: white;
}

figure img {
    margin: 10px;
    vertical-align: top;
    padding: 0 20px;
    width: 80px;
    height: 60px;
}

figure figcaption {
    text-align: center;
    text-transform: uppercase;
    margin: 5%;
    padding: 0px 10px;
    letter-spacing: 5px;
    font-family: Nanumgothic;
    font-size: 100%;
    color: white;
}

.section{
    float: left;
    width: 500px;
    height:100%;
    text-align: center;
    font-family: Football;
    font-size: 40px;
    color: black;
    margin: 30px;
}

.section strong{
    font-family: Football;
    font-size: 60px;
    color: #204080;
    background-color: white;
}

.article{
    margin-top:35px;
    padding: 10px 0px 0px 0px;
}

#article1{
    background-color:#FFFDA4;
}

.article ol{
    margin-top: 20px;
    padding: 0px 20px 20px 20px;
    list-style: none;
}

#article2{
    background-color:#ACDEFA;
}

#line{
    float: left;
    width: 10px;
    height:100%;
    border-right: 2px dotted white;
}

.box{
    width: 80px;
    height: 20px;
    border-radius: 10px;
    background-color: #613B33;
    margin: auto;
}

footer{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    padding-top: 4px;
    background-color: #f0e0e0;
    font-family: NanumBrush;
    font-size: 25px;
    text-align: right;
}

input[type="text"] { 
margin:auto;
height: 30px; /* 높이값 초기화 */ 
padding: 2px; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */ 
font-family: NanumGothic; /* 폰트 상속 */ 
}

input[type="button"] { 
margin: auto;
padding: 2px; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */ 
font-family: Football; /* 폰트 상속 */ 
font-size: 20px;
text-align: center;
background-color: #9099FF;
border: solid white 3px;
}

form{
    margin-bottom: 10px;
}