@font-face { 
font-family: 'NanumGothic'; 
src: url(font/NanumFont_TTF_ALL/NanumGothicBold.ttf) format('truetype'); 
}

@font-face { 
font-family: 'NanumGothicExtra'; 
src: url(font/NanumFont_TTF_ALL/NanumGothicExtraBold.ttf) format('truetype'); 
}

@font-face { 
font-family: 'NanumBrush'; 
src: url(font/NanumFont_TTF_ALL/NanumBrush.ttf) format('truetype'); 
}

@font-face { 
font-family: 'Football'; 
src: url(font/NEXON_Football_Gothic/football.otf) format('truetype'); 
}

@font-face { 
font-family: 'Box'; 
src: url(font/blox-brk/Blox2.ttf) format('truetype'); 
}

p{
    margin: auto;
    text-align: center;
    color:#46469C;
    text-align: center;
    background-color: white;
    font-family: Football;
    font-size: 80px;
}

